allow fingerprintd tee_device:chr_file { read write ioctl open };

allow fingerprintd fpc_data_file:file create_file_perms;
allow fingerprintd fpc_data_file:sock_file create_file_perms;
allow fingerprintd fpc_data_file:dir create_dir_perms;

allow fingerprintd fpc_sysfs:file rw_file_perms;
allow fingerprintd fpc_sysfs:dir r_dir_perms;

allow tee fpc_data_file:dir rw_dir_perms;
allow tee fpc_data_file:file create_file_perms;

allow ueventd fpc_sysfs:file { write open };
