type_transition mm-qcamerad system_data_file:file camera_data_file "EP_Valid.bin";
allow mm-qcamerad system_data_file:dir { add_name remove_name write };
