allow system_app ipa_dev:chr_file { read write open ioctl };
allow system_app qmuxd_socket:dir { write add_name search };
allow system_app qmuxd_socket:sock_file { setattr create write };
allow system_app qmuxd:unix_stream_socket { connectto };
