on init
    # Set permissions for securefs partition
    mkdir /securefs 0771 system system

on post-fs-data
    # Mounting of securefs is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /securefs again so because mount is run as root + defaults
    chown system system /securefs
    chmod 0771 /securefs

on fs
    wait /dev/block/bootdevice/by-name/securefs
    mount ext4 /dev/block/bootdevice/by-name/securefs /securefs nosuid nodev barrier=1
    restorecon_recursive /securefs
