on post-fs-data
    chown system system /sys/class/leds/nbq_wled/blink
    chown system system /sys/class/leds/nbq_wled/brightness
    chown system system /sys/class/leds/nbq_wled/duty_pcts
    chown system system /sys/class/leds/nbq_wled/pause_lo
    chown system system /sys/class/leds/nbq_wled/pause_hi
    chown system system /sys/class/leds/nbq_wled/pwm_us
    chown system system /sys/class/leds/nbq_wled/ramp_step_ms
    chown system system /sys/class/leds/nbq_wled/start_idx

    chmod 660 /sys/class/leds/lp5523:channel0/device/leds_on_off
    chown system system /sys/class/leds/lp5523:channel0/device/leds_on_off

# happy dance during boot
on property:init.svc.bootanim=running
    write /sys/class/leds/lp5523:channel0/device/led_pattern 4

on property:init.svc.bootanim=stopped
    write /sys/class/leds/lp5523:channel0/device/led_pattern 0
