
# msm specific files that need to be created on /data
on post-fs-data
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc
    mkdir /etc/param
    start nfc-default-sh

# permissions for NFC
on boot
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn547
    chown nfc nfc /dev/pn547
