on post-fs-data
        mkdir /data/fpc 0700 system system
    chown system system /sys/bus/spi/devices/spi12.1/irq
    chown system system /sys/bus/spi/devices/spi12.1/clk_enable
    chown system system /sys/bus/spi/devices/spi12.1/wakeup_enable

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
